<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsc.wxapp.mapper.DailyquotesMapper">

  <resultMap id="BaseResultMap" type="com.zsc.wxapp.entity.Dailyquotes">
        <id property="dq_uuid" column="dq_uuid" jdbcType="VARCHAR"/>
        <result property="dq_statistical_time" column="dq_statistical_time" jdbcType="DATE" />
        <result property="dq_unchanged_price" column="dq_unchanged_price"  javaType="INT" />
        <result property="dq_rise_price" column="dq_rise_price" javaType="INT" />
        <result property="dq_decline_price" column="dq_decline_price"  javaType="INT" />
        <result property="dq_profit" column="dq_profit"  javaType="DOUBLE" />
      </resultMap>

      <!-- 定义可重用的SQL片段 -->
      <sql id="Base_Column_List">
          dq_uuid, dq_statistical_time, dq_unchanged_price, dq_rise_price, dq_decline_price, dq_profit
      </sql>

      <!-- 查询所有每日行情信息 -->
      <select id="selectAllDailyquotes" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" /> FROM dailyquotes
      </select>

      <!-- 根据统计日期查询每日行情信息 -->
      <select id="selectDailyquotesByStatisticalTime" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" /> FROM dailyquotes
        WHERE dq_statistical_time = #{dq_statistical_time}
      </select>

      <!-- 插入新的每日行情信息 -->
      <insert id="insertDailyquotes" parameterType="Dailyquotes" useGeneratedKeys="true" keyProperty="dq_uuid">
        INSERT INTO dailyquotes (<include refid="Base_Column_List" />)
        VALUES (
        #{dq_uuid}, #{dq_statistical_time}, #{dq_unchanged_price},
        #{dq_rise_price}, #{dq_decline_price}, #{dq_profit}
        )
      </insert>

      <!-- 更新每日行情信息 -->
      <update id="updateDailyquotes" parameterType="Dailyquotes">
        UPDATE dailyquotes
        <set>
          dq_statistical_time = #{dq_statistical_time},
          dq_unchanged_price = #{dq_unchanged_price},
          dq_rise_price = #{dq_rise_price},
          dq_decline_price = #{dq_decline_price},
          dq_profit = #{dq_profit}
        </set>
        WHERE dq_uuid = #{dq_uuid}
      </update>

      <!-- 根据UUID删除每日行情信息 -->
      <delete id="deleteDailyquotesByUuid">
        DELETE FROM dailyquotes WHERE dq_uuid = #{dq_uuid}
      </delete>
    </mapper>
