<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsc.wxapp.mapper.PriceTagMapper">

  <!-- ResultMap配置 -->
  <resultMap id="BaseResultMap" type="com.zsc.wxapp.entity.PriceTag">
    <id column="pt_uuid" jdbcType="VARCHAR" property="pt_uuid" />
    <result column="cust_uuid" jdbcType="VARCHAR" property="cust_uuid" />
    <result column="pic_urlid" jdbcType="VARCHAR" property="pic_urlid" />
    <result column="pt_type" jdbcType="VARCHAR" property="pt_type" />
    <result column="product_uuid" jdbcType="VARCHAR" property="product_uuid" />
    <result column="pt_create_date" jdbcType="TIMESTAMP" property="pt_create_date" />
    <result column="recognized_price" jdbcType="FLOAT" property="recognized_price" />
    <result column="product_name" jdbcType="VARCHAR" property="product_name" />
    <result column="direct_retail_price" jdbcType="FLOAT" property="direct_retail_price" />
    <result column="cigarette_total_info_uuid" jdbcType="VARCHAR" property="cigarette_total_info_uuid" />
    <result column="cust_total_info_uuid" jdbcType="VARCHAR" property="cust_total_info_uuid" />
  </resultMap>

  <!-- 列名列表 -->
  <sql id="Base_Column_List">
    pt_uuid, cust_uuid, pic_urlid, pt_type, product_uuid, pt_create_date,
    recognized_price, product_name, direct_retail_price,
    cigarette_total_info_uuid, cust_total_info_uuid
  </sql>

  <!-- 根据主键查询 -->
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from price_tag
    where pt_uuid = #{value}
  </select>

  <!-- 查询所有记录 -->
  <select id="findAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from price_tag
  </select>

  <!-- 根据主键删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from price_tag
    where pt_uuid = #{value}
  </delete>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.zsc.wxapp.entity.PriceTag" useGeneratedKeys="true" keyProperty="pt_uuid">
    insert into price_tag (pt_uuid, cust_uuid, pic_urlid, pt_type, product_uuid, pt_create_date,
                           recognized_price, product_name, direct_retail_price, cigarette_total_info_uuid, cust_total_info_uuid)
    values (#{pt_uuid}, #{cust_uuid}, #{pic_urlid}, #{pt_type}, #{product_uuid}, #{pt_create_date},
            #{recognized_price}, #{product_name}, #{direct_retail_price}, #{cigarette_total_info_uuid}, #{cust_total_info_uuid})
  </insert>

  <!-- 根据条件动态插入记录 -->
  <insert id="insertSelective" parameterType="com.zsc.wxapp.entity.PriceTag" useGeneratedKeys="true" keyProperty="pt_uuid">
    insert into price_tag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pt_uuid != null">pt_uuid,</if>
      <if test="cust_uuid != null">cust_uuid,</if>
      <if test="pic_urlid != null">pic_urlid,</if>
      <if test="pt_type != null">pt_type,</if>
      <if test="product_uuid != null">product_uuid,</if>
      <if test="pt_create_date != null">pt_create_date,</if>
      <if test="recognized_price != null">recognized_price,</if>
      <if test="product_name != null">product_name,</if>
      <if test="direct_retail_price != null">direct_retail_price,</if>
      <if test="cigarette_total_info_uuid != null">cigarette_total_info_uuid,</if>
      <if test="cust_total_info_uuid != null">cust_total_info_uuid,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pt_uuid != null">#{pt_uuid},</if>
      <if test="cust_uuid != null">#{cust_uuid},</if>
      <if test="pic_urlid != null">#{pic_urlid},</if>
      <if test="pt_type != null">#{pt_type},</if>
      <if test="product_uuid != null">#{product_uuid},</if>
      <if test="pt_create_date != null">#{pt_create_date},</if>
      <if test="recognized_price != null">#{recognized_price},</if>
      <if test="product_name != null">#{product_name},</if>
      <if test="direct_retail_price != null">#{direct_retail_price},</if>
      <if test="cigarette_total_info_uuid != null">#{cigarette_total_info_uuid},</if>
      <if test="cust_total_info_uuid != null">#{cust_total_info_uuid},</if>
    </trim>
  </insert>

  <!-- 主键更新记录 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.zsc.wxapp.entity.PriceTag">
    update price_tag
    <set>
      <if test="cust_uuid != null">cust_uuid = #{cust_uuid},</if>
      <if test="pic_urlid != null">pic_urlid = #{pic_urlid},</if>
      <if test="pt_type != null">pt_type = #{pt_type},</if>
      <if test="product_uuid != null">product_uuid = #{product_uuid},</if>
      <if test="pt_create_date != null">pt_create_date = #{pt_create_date},</if>
      <if test="recognized_price != null">recognized_price = #{recognized_price},</if>
      <if test="product_name != null">product_name = #{product_name},</if>
      <if test="direct_retail_price != null">direct_retail_price = #{direct_retail_price},</if>
      <if test="cigarette_total_info_uuid != null">cigarette_total_info_uuid = #{cigarette_total_info_uuid},</if>
      <if test="cust_total_info_uuid != null">cust_total_info_uuid = #{cust_total_info_uuid},</if>
    </set>
    where pt_uuid = #{pt_uuid}
  </update>

  <!-- 主键完全更新记录 -->
  <update id="updateByPrimaryKey" parameterType="com.zsc.wxapp.entity.PriceTag">
    update price_tag
    set cust_uuid = #{cust_uuid},
        pic_urlid = #{pic_urlid},
        pt_type = #{pt_type},
        product_uuid = #{product_uuid},
        pt_create_date = #{pt_create_date},
        recognized_price = #{recognized_price},
        product_name = #{product_name},
        direct_retail_price = #{direct_retail_price},
        cigarette_total_info_uuid = #{cigarette_total_info_uuid},
        cust_total_info_uuid = #{cust_total_info_uuid}
    where pt_uuid = #{pt_uuid}
  </update>

</mapper>