<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsc.wxapp.mapper.UserinfoMapper">

<!--  <resultMap id="BaseResultMap" type="com.zsc.wxapp.entity.Userinfo">-->
<!--  &lt;!&ndash; ResultMap定义了数据库列和Userinfo实体类属性之间的映射关系 &ndash;&gt;-->
<!--    <id property="userid" column="userid" jdbcType="VARCHAR"/>-->
<!--    &lt;!&ndash; 其他字段映射 &ndash;&gt;-->
<!--    <result property="profile_photo_url" column="profile_photo_url" jdbcType="VARCHAR"/>-->
<!--    <result property="phone" column="phone" jdbcType="VARCHAR"/>-->
<!--    <result property="role_id" column="role_id" />-->
<!--    <result property="is_vip" column="is_vip" />-->
<!--    <result property="vip_end_time" column="vip_end_time" />-->
<!--    <result property="shopname" column="shopname" />-->
<!--    <result property="principal_name" column="principal_name" />-->
<!--    <result property="isvalid" column="isvalid" />-->
<!--    <result property="cust_uuid" column="cust_uuid" />-->
<!--    <result property="register_time" column="register_time" />-->
<!--    <result property="photo_count" column="photo_count" />-->
<!--    <result property="vipRewardDays" column="vipRewardDays" />-->
<!--  </resultMap>-->

<!--  &lt;!&ndash; 定义基本列的SQL片段 &ndash;&gt;-->
<!--  <sql id="Base_Column_List">-->
<!--      userid-->
<!--      , profile_photo_url, phone, role_id, is_vip,-->
<!--    vip_end_time, shopname, principal_name, isvalid, cust_uuid,-->
<!--    register_time, photo_count, vipRewardDays-->
<!--  </sql>-->
<!--  &lt;!&ndash; 根据手机号查询用户 &ndash;&gt;-->
<!--  <select id="selectUserByPhone" parameterType="string" resultMap="BaseResultMap">-->
<!--    SELECT-->
<!--    <include refid="Base_Column_List" />-->
<!--    FROM userinfo WHERE phone = #{phone}-->
<!--  </select>-->
</mapper>